.news-card {
  background-color: #ffffff;
  animation: 0.5s ease-out 0s 1 slideInFromBelow;
}

.news-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.news-card__more-btn {
  padding: 12px 0px;
  width: 148px;
  color: white;
  background-color: #272727;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}

.news-card__summary {
  padding: 50px;
}

.news-card__title {
  font-size: 22px;
  font-weight: bold;
}

.news-card__description {
  padding: 20px 0;
}

@keyframes slideInFromBelow {
  0% {
    transform: translateY(1.5%);
  }
  100% {
    transform: translateX(0);
  }
}

header {
  /* This section calls the slideInFromLeft animation we defined above */
  background: #333;
  padding: 30px;
}
